@model Farmacol.Models.Tbpersonal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tbpersonal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpediciónCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpediciónCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoEmergencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactoEmergencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CelularEmergencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CelularEmergencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FondoPensiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FondoPensiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FondoCesantias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FondoCesantias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CajaCompensación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CajaCompensación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tpcuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tpcuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TallaCamisa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TallaCamisa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NúmeroCel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NúmeroCel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
