@model Farmacol.Models.TbRequisicione
@{
    ViewData["Title"] = "Detalle de Requisición";
}

<h1>Detalle de Requisición #@Model.NoRequisicion</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Fecha Solicitud</dt>
            <dd class="col-sm-8">@Model.FechaSolicitud?.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-4">Posición Requerida</dt>
            <dd class="col-sm-8">@Model.PosicionRequerida</dd>

            <dt class="col-sm-4">Gerencia</dt>
            <dd class="col-sm-8">@Model.GerenciaSolicitante</dd>

            <dt class="col-sm-4">Solicitante</dt>
            <dd class="col-sm-8">@Model.NombreSolicitante</dd>

            <dt class="col-sm-4">Tipo de Contrato</dt>
            <dd class="col-sm-8">@Model.TipoContrato</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h5>Conocimientos Requeridos</h5>
        <ul class="list-group">
            @if (Model.OfimaticaBasica)
            {
                <li class="list-group-item">Ofimática Básica</li>
            }
            @if (Model.OfimaticaIntermedia)
            {
                <li class="list-group-item">Ofimática Intermedia</li>
            }
            @if (Model.OfimaticaAvanzada)
            {
                <li class="list-group-item">Ofimática Avanzada</li>
            }
            @if (Model.SAP)
            {
                <li class="list-group-item">SAP</li>
            }
            @if (!string.IsNullOrEmpty(Model.OtroConocimiento))
            {
                <li class="list-group-item">Otro: @Model.OtroConocimiento</li>
            }
        </ul>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>